Repository Duckinm/cicd-next: changes, and which lefthook commands are due for each by the changed paths.
All: lint, style-lint, spelling

lint:
  run: yarn lint {staged_files}

style-lint:
  run: yarn lint:css {staged_files}

spelling:
  run: yarn cspell {staged_files}

chore: test some cspell rules
  cspell.json
  lefthook.yml
  package.json
Due: none

docs: update readme
  README.md
Due: spelling

chore: update .yml
  .github/workflows/ci.yml
  lefthook.yml
Due: none

feat: add semantic version
  .github/workflows/release.yml
  package.json
  release.config.js
Due: none

ci: correct typo
  .github/workflows/release.yml
Due: none

chore(release): set `package.json` to 1.0.0 [skip ci]
  CHANGELOG.md
Due: spelling

Notes added by 'git notes add'
  7edacf274d5b54959b445f8820cd5cddfe20d46f
Due: none

feat(ci): add prettier
  lefthook.yml
  package.json
  yarn.lock
Due: none

ci: save new prettier format
  .github/workflows/release.yml
  lefthook.yml
Due: none

ci: fix type
  lefthook.yml
Due: none

ci(release): fix typo
  lefthook.yml
Due: none

feat: add tailwindcss with daisyui plugin
  components/Layouts/MainLayout.tsx
  package.json
  pages/_app.tsx
  pages/index.tsx
  postcss.config.js
  styles/Home.module.css
  styles/globals.css
  tailwind.config.js
  yarn.lock
Due: lint, spelling

chore: update .gitignore
  .gitignore
  cspell.json
Due: none

chore: add cspell config
  .gitignore
  cspell.json
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  style-lint: any of: *.{tsx}
  spelling: any of: *.{ts,tsx,md}
